*{
	margin: 0;
	padding: 0;
}
.page {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.form {
	font-family: 'Segoe UI';
	font-size: 14px;
	display: flex;
	flex-direction: column;
	width: 400px;
	border-radius: 8px;
	background-color: #fbfbfb;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}
.caption {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	font-size: 20px;
	font-weight: 400;
	padding: 30px 30px 50px 30px;
}
.content {
	display: flex;
	flex-direction: column;
	padding: 16px 48px 48px 48px;
}
.default-avatar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px;
	background-color: #fff;
	border: 1px solid rgba(80, 80, 80, 0.25);
	border-radius: 4px;
}
.avatar-container {
	padding: 20px;
}
.default-avatar {
	width: 54px;
	height: 54px;
	background-color: #fff;
}
.avatar {
	width: 128px;
	height: 128px;
	background-color: #fff;
}
.choose-photo {
	margin-top: 8px;
}
.input-box {
	display: flex;
	padding: 12px 16px;
	background-color: #FFF;
	border: 1px solid rgba(80, 80, 80, 0.25);
	border-radius: 4px;
	margin-top: 8px;
}
.input {
	flex-grow: 1;
	background-color: #FFF;
	border: 1px solid #FFF;
    border: 1px solid #fff;
    outline:  none;
    border-radius: 6px;
}
.tab-bar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 11px 16px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 10px;
}
.tab-button {
	width: 38%;
}
.check-container {
	display: flex;
    flex-direction: row;
	margin-top: 16px;
	font-size: 12px;
	align-items: center;
}

.check-box {
	margin-right: 5px;
	background-color: ReadOnly;
    border: 1px solid #fff;
    outline: none;
    height: 24px;
    width: 24px;
}
.check-box-p{
    display: flex;
    flex-direction: row;
}
.check-box-p a{
    padding-left: 5px;
}
.link:hover {
	text-decoration: underline;
}
.login-button {
	padding: 12px 24px;
	background-color: #FFF;
	color: #000;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	margin-top: 24px;
	font-size: 18px;
}
.login-button:hover {
	background-color: #4137e3;
	box-shadow: 0px 8px 16px HighlightAlternate/0.5;
	color: White;
	cursor: pointer;
}
.login-button:active {
	box-shadow: initial;
	color: rgba(255, 255, 255, 0.35);
}
.normal {
	background-color: rgba(80, 80, 80, 0.05);
}
.normal:hover {
	background-color: #4137e3;
    color: #FFF;
	cursor: pointer;
}
.highlight {
	background-color: #4137e3;
	color: white;
}